{% extends "users/appbase.html" %}
{% block content%}
    {% load crispy_forms_tags %}
    {% load static %}

    <div class="container" id="pagewrapper">
        <div class="logoheader">
            <h3 id="heading">Password Reset </h3>
        </div>
        {% if validlink %}
           <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
               <div class="text-center">
                  <button class="btn btn-primary" type="submit ">Change password</button>
               </div>
            </form>
        {% else %}
            <p>
              The password reset link was invalid, possibly because it has already been used.
                Please <a href="{% url 'password_reset' %}"> a new password reset </a>.

            </p>
        {% endif %}


    </div>
{% endblock content %}